build:ci --loading_phase_threads=1
build:ci --jobs=2
build:ci --verbose_failures
common:ci --color=no
test:ci --test_output=errors

build --disk_cache=.bazel-cache/bazel-disk
build --repository_cache=.bazel-cache/bazel-repo
build --color=yes
build --jobs=8
build --compilation_mode=fastbuild

# test environment does not propagate locales by default
# some tests reads files written in UTF8, we need to propagate the correct
# environment variables, such as LOCALE_ARCHIVE
# We also need to setup an utf8 locale
test --test_env=LANG=en_US.utf8 --test_env=LOCALE_ARCHIVE

test --test_output=errors
test --compilation_mode=fastbuild

try-import .bazelrc.local
