[submodule "prototype/External/Assertions"]
	path = prototype/External/Assertions
	url = https://github.com/robrix/Assertions.git
[submodule "prototype/External/Stream"]
	path = prototype/External/Stream
	url = https://github.com/antitypical/Stream.git
[submodule "prototype/External/Madness"]
	path = prototype/External/Madness
	url = https://github.com/robrix/Madness
[submodule "prototype/External/SwiftCheck"]
	path = prototype/External/SwiftCheck
	url = https://github.com/typelift/SwiftCheck.git
