[submodule "test/repos/jquery"]
	path = test/repos/jquery
	url = https://github.com/jquery/jquery
[submodule "test/repos/js-test"]
	path = test/repos/js-test
	url = https://github.com/rewinfrey/js-test.git
[submodule "test/repos/backbone"]
	path = test/repos/backbone
	url = https://github.com/jashkenas/backbone
[submodule "vendor/hspec-expectations-pretty-diff"]
	path = vendor/hspec-expectations-pretty-diff
	url = https://github.com/rewinfrey/hspec-expectations-pretty-diff
[submodule "vendor/effects"]
	path = vendor/effects
	url = https://github.com/joshvera/effects.git
[submodule "languages/ruby/vendor/tree-sitter-ruby"]
	path = vendor/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "languages/c/vendor/tree-sitter-c"]
	path = languages/c/vendor/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "languages/go/vendor/tree-sitter-go"]
	path = vendor/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go.git
[submodule "languages/javascript/vendor/tree-sitter-javascript"]
	path = languages/javascript/vendor/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "vendor/haskell-tree-sitter"]
	path = vendor/haskell-tree-sitter
	url = https://github.com/tree-sitter/haskell-tree-sitter.git
[submodule "languages/typescript/vendor/tree-sitter-typescript"]
	path = vendor/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript/
[submodule "languages/python/vendor/tree-sitter-python"]
	path = vendor/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "languages/json/vendor/tree-sitter-json"]
	path = vendor/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json
[submodule "vendor/freer-cofreer"]
	path = vendor/freer-cofreer
	url = https://github.com/robrix/freer-cofreer.git
