[submodule "vendor/tree-sitter-parsers"]
	path = vendor/tree-sitter-parsers
	url = git@github.com:github/tree-sitter-parsers.git
[submodule "vendor/text-icu"]
	path = vendor/text-icu
	url = https://github.com/joshvera/text-icu
[submodule "vendor/gitlib"]
	path = vendor/gitlib
	url = https://github.com/joshvera/gitlib
[submodule "test/repos/jquery"]
	path = test/repos/jquery
	url = https://github.com/jquery/jquery
[submodule "test/repos/js-test"]
	path = test/repos/js-test
	url = https://github.com/rewinfrey/js-test.git
[submodule "test/repos/backbone"]
	path = test/repos/backbone
	url = https://github.com/jashkenas/backbone
[submodule "tools/semantic-git-diff/test/corpus/javascript"]
	path = tools/semantic-git-diff/test/corpus/javascript
	url = ./tools/semantic-git-diff/test/corpus/javascript/.git
