.DS_Store

.docsets
.stack-work
.stack-work-profiling
profiles
tags

cabal.project.local
dist
dist-newstyle
.ghc.environment.*

tmp/
bin/

/semanticd/test/current
/semanticd/test/rover-example-config/semantic.log
/test/fixtures/*/examples

*.hp
*.prof
*.pyc

/test.*
/*.html

.bundle/
.licenses/vendor/gems
.licenses/log/

codex.tags
