.DS_Store

.stack-work
.stack-work-profiling
profiles
tags

cabal.project.local
dist
dist-newstyle
.ghc.environment.*

tmp/
bin/

/test/fixtures/*/examples

*.hp
*.prof
*.pyc

/test.*
/*.html

.bundle/
.licenses/vendor/gems
.licenses/log/

codex.tags
