table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}

td {
  vertical-align: top;
  padding: 0;
}

.blob-num {
  width: 1%;
  min-width: 50px;
  white-space: nowrap;
  text-align: right;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border: solid #eee;
  border-width: 0 1px 0 0;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-user-select: none;
}

.blob-num-replacement {
  background-color: #ffdddd;
  border-color: #f1c0c0
}
.blob-code+.blob-num-replacement {
  background-color: #dbffdb;
  border-color: #c1e9c1
}

.blob-code-replacement {
  background-color: #ffecec;
}
.blob-code-replacement:last-child {
  background-color: #eaffea;
}

.blob-code {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: rgb(51, 51, 51);
  tab-size: 8;
}

.blob-code>* {
  font-size: 12px;
  line-height: 16px;
}

.empty-cell {
  background-color: #fafafa;
  border-right-color: #eee;
}

.blob-code+.blob-num {
  border-left-width: 1px;
}

#before, #after {
  width: 50%;
}
#before {
  float: left;
}
#after {
  float: right;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.blob-code:last-child .patch,
.blob-code:last-child .insert,
.blob-code:last-child .replace {
  background-color: #a6f3a6;
}
.blob-code .patch,
.blob-code .delete,
.blob-code .replace {
  background-color: #f8cbcb;
}

.diff div, .diff ul, .diff li, .diff dl, .diff dd, .diff span {
  white-space: pre-wrap;
  display: inline;
  margin: 0;
  padding: 0;
  color: initial;
}

.diff dt {
  display: none;
}

/* syntax highlighting */
.diff .category-regex,
.diff .category-string {
  color: #183691;
}

.diff .category-false,
.diff .category-true,
.diff .category-null,
.diff .category-undefined,
.diff .category-number,
.diff .category-function_call>li>.category-identifier,
.diff .category-function_call>li>.category-argument_list>li>.category-identifier,
.diff .category-function_call>li>.category-member_access>.category-identifier,
.diff .category-member_access>:not(:first-child)>.category-identifier,
.diff .category-scope_resolution_expression>li>.category-identifier,
.diff .category-symbol {
  color: #0086b3;
}

.diff .category-comment {
  color: #969896;
}

.diff [class^="category-"][class$="_op"],
.diff .category-ternary,
.diff .category-conditional,
.diff .category-additive,
.diff .category-multiplicative,
.diff .category-complement,
.diff .category-var_declaration,
.diff .category-new_expression,
.diff .category-if_statement,
.diff .category-do_statement,
.diff .category-for_statement,
.diff .category-for_in_statement,
.diff .category-return_statement,
.diff .category-function,
.diff .category-assignment,
.diff .category-var_assignment,
.diff .category-method_declaration,
.diff .category-case_statement,
.diff .category-else_block,
.diff .category-when_block,
.diff .category-then_block,
.diff .category-class_declaration,
.diff .category-module_declaration {
  color: #a71d5d;
}

.diff .category-function>li:first-child>.category-identifier,
.diff .category-method_declaration>li:first-child>.category-identifier,
.diff .category-new_expression>li>.category-function_call>li:first-child>.category-identifier,
.diff .category-pair>li:first-child>.category-identifier,
.diff .category-assignment>li:first-child>.category-member_access>:not(:first-child)>.category-identifier,
.diff .category-class_declaration>li>.category-identifier,
.diff .category-module_declaration>li>.category-identifier {
  color: #795da3;
}
