name: Haskell CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: ghc ${{ matrix.ghc }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ["8.10", "9.2"]

    steps:
    - uses: actions/checkout@v2
      if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'

    - uses: haskell/actions/setup@v1
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}

    - uses: actions/cache@v1
      id: cache-cabal
      name: Cache Cabal artifacts
      with:
        path: dist-cache
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ matrix.cabal }}-cabal-cache-${{ hashFiles('**/*.cabal') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-${{ matrix.cabal }}-cabal-cache-
          ${{ runner.os }}-${{ matrix.ghc }}-${{ matrix.cabal }}-
          ${{ runner.os }}-${{ matrix.ghc }}-
          ${{ runner.os }}-

    - name: Get cabal-cache
      run: |
        curl -L https://github.com/haskell-works/cabal-cache/releases/download/v1.0.1.8/cabal-cache_x86_64_linux.tar.gz > ./cc.tar.gz
        tar -xvf ./cc.tar.gz

    - name: Configure project
      run: |
        cabal v2-update
        cabal v2-configure --project-file=cabal.project.ci --disable-optimization --enable-tests --write-ghc-environment-files=always -j2

    - name: Restore from cache
      run: ./cabal-cache sync-from-archive --threads=2 --archive-uri=dist-cache || true

    - name: Build & test
      run: |
        cabal v2-build --project-file=cabal.project.ci semantic:exe:semantic
        cabal v2-run   --project-file=cabal.project.ci semantic:test
        cabal v2-build --project-file=cabal.project.ci semantic-analysis
        cabal v2-run   --project-file=cabal.project.ci semantic-codeql:test
        cabal v2-run   --project-file=cabal.project.ci semantic-go:test
        cabal v2-run   --project-file=cabal.project.ci semantic-java:test
        cabal v2-run   --project-file=cabal.project.ci semantic-json:test
        cabal v2-run   --project-file=cabal.project.ci semantic-python:test
        # cabal v2-run   --project-file=cabal.project.ci semantic-python:test:compiling
        # cabal v2-run   --project-file=cabal.project.ci semantic-python:test:graphing
        cabal v2-run   --project-file=cabal.project.ci semantic-ruby:test
        cabal v2-run   --project-file=cabal.project.ci semantic-tags:test
        cabal v2-run   --project-file=cabal.project.ci semantic-tsx:test
        cabal v2-run   --project-file=cabal.project.ci semantic-typescript:test
        cabal v2-run   --project-file=cabal.project.ci semantic-source:test

    - name: Write out cache
      run: ./cabal-cache sync-to-archive --threads=2 --archive-uri=dist-cache
